desktop-gyak/gyak1/bin
desktop-gyak/gyak1/obj
desktop-gyak/gyak2/.vs
desktop-gyak/gyak2/bin
desktop-gyak/gyak2/obj
desktop-gyak/gyak3/MauiApp1/.vs
desktop-gyak/gyak3/MauiApp1/bin
desktop-gyak/gyak3/MauiApp1/obj
desktop-gyak/gyak4/MauiApp1/.vs
desktop-gyak/gyak4/MauiApp1/bin
desktop-gyak/gyak4/MauiApp1/obj
backend-gyak/nyiltnap/node_modules
