desktop-gyak/gyak1/bin
desktop-gyak/gyak1/obj
desktop-gyak/gyak2/.vs
desktop-gyak/gyak2/bin
desktop-gyak/gyak2/obj
desktop-gyak/gyak3/MauiApp1/.vs
desktop-gyak/gyak3/MauiApp1/bin
desktop-gyak/gyak3/MauiApp1/obj
desktop-gyak/gyak4/MauiApp1/.vs
desktop-gyak/gyak4/MauiApp1/bin
desktop-gyak/gyak4/MauiApp1/obj
backend-gyak/nyiltnap/node_modules
backend-gyak/szogyak/node_modules
console-gyak/ConsoleApp1/.vs
console-gyak/ConsoleApp1/bin
console-gyak/ConsoleApp1/obj
desktop-gyak/gyak5/.vs
desktop-gyak/gyak5/bin
desktop-gyak/gyak5/obj
backend-gyak/konyvstatisztika/node_modules
console-gyak/04 - Konyvek/ConsoleApp1/.vs
console-gyak/04 - Konyvek/ConsoleApp1/bin
console-gyak/04 - Konyvek/ConsoleApp1/obj
