.navbar-nav{
    display: flex;
    flex-direction: row;
}

.nav-item{
    margin-left: 20px;
}

h1{
    text-align: center;
    margin-top: 30px;
}

p{
    margin: 0;
}

ol{
    margin-top: 20px;
}

.card{
    padding: 0 10px 0 10px;
    height: 100%;
}

.btn{
    margin-top: 10px;
}